<!-- Config file for the game -->

<config>
  <app>
    <title>Get Hooked</title>
    <organization>UPC</organization>
    <save>save_game.xml</save>
    <load>save_game.xml</load>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <maps>
        <track1>Mystic_Force.ogg</track1>
        <track2>Spellbound.ogg</track2>
      </maps>
    </music>
    <sfx>
      <folder>audio/fx/</folder>
      <player>
        <run>run.wav</run>
        <jump>jump.wav</jump>
        <slide>slide.wav</slide>
        <hurt>hurt.wav</hurt>
      </player>
    </sfx>
  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>textures/</folder>
    <sprites>
      <spriteSheet>character_sprite_sheet.png</spriteSheet>
      <spriteSize x="50" y="37"/>
      <scale value="3" />
      <first_sprite>
        <idle column="0" row="0" frames="4" animSpeed ="0.12" loop="true">idle</idle>
        <run column="0" row="4" frames="6" animSpeed ="0.12" loop="true">run</run>
        <slide column="0" row="5" frames="5" animSpeed ="0.12" loop="false">slide</slide>
        <crouch column="0" row="6" frames="4" animSpeed ="0.12" loop="true">crouch</crouch>
        <jump column="0" row="7" frames="4" animSpeed ="0.24" loop="false">jump</jump>
        <somersault column="0" row="8" frames="4" animSpeed ="0.12" loop="true">somersault</somersault>
        <fall column="4" row="7" frames="2" animSpeed ="0.12" loop="true">fall</fall>
        <hurt column="0" row="22" frames="3" animSpeed ="0.12" loop="true">hurt</hurt>
        <dead column="0" row="23" frames="7" animSpeed ="0.12" loop="false">dead</dead>
      </first_sprite>
    </sprites>
    <audio>
      <runSfxDelay miliseconds="350"/>
      <slideSfx played="false" />
      <hurtSfx played="false" />
    </audio>
    <life value="3"/>
    <speed x="0" y="0"/>
    <maxSpeed x="3" y="5"/>
    <hurtSpeed x="2" y="2"/>
    <collision_offset x="5" y="5"/>
    <hitbox x="40" y="32"/>
    <accelerations x="0.25" gravity="0.2" slide="0.07"/>
    <jump forceY="4"/>
    <looking right="true"/>
    <somersault used="false"/>
    <hurt value="false"/>
    <dead value="false"/>
    <deathDelay miliseconds="1000"/>
    <fading value="false"/>
    <fadeDelay seconds="1"/>
    <reset value="false"/>
    <godmode value="false"/>
  </player>

  <scene>   <!-- map_name is a placeholder -->
    <title>Get Hooked v0.1</title>
    <cameraSpeed x="5" y="5"/>
    <map_one name="map1.tmx">
      <playerStartPos x="0" y="0"/>
      <playerStartSpeed x="0" y="0"/>
    </map_one>
    <map_two name="map2.tmx">
      <playerStartPos x="0" y="0"/>
      <playerStartSpeed x="0" y="0"/>
    </map_two>
    <fadeTime value="1"/>
  </scene>

</config>