<!-- Config file for the game -->

<config>
  <app mustCap="true" fpsCap="30">
    <name>Get Hooked v0.1</name>
    <organization>UPC</organization>
    <save>save_game.xml</save>
    <load>save_game.xml</load>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <collision>
    <mustDebugDraw value="false" />
    <matrix>
      
      <wall wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" win="false" none="false" />
      <platform wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" win="false" none="false" />
      <falling_platform wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" none="false" />
      <player wall="true" platform="true" falling_plaftorm="true" player="false" player_attack="false" enemy="true" enemy_attack="true" win="true" none="false" />
      <player_attack wall="false" platform="false" falling_plaftorm="false" player="false" player_attack="false" enemy="true" enemy_attack="false" win="false" none="false" />
      <enemy wall="true" platform="true" falling_plaftorm="true" player="true" player_attack="true" enemy="false" enemy_attack="false" win="false" none="false" />
      <enemy_attack wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="false" enemy_attack="false" win="false" none="false" />
      <win wall="false" platform="false" falling_platform="false" player="true" player_attack="false" enemy="false" enemy_attack="false" win="false" none="false" />
      <none wall="false" platform="false" falling_platform="false" palyer="false" player_attack="false" enemy="false" enemy_attack="false" win="false" none="false"/>
   
    </matrix>
  </collision>
  
  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio volume="100">
    <music volume="80">
      <folder>audio/music/</folder>
      <maps>
        <track1>Mystic_Force.ogg</track1>
        <track2>Spellbound.ogg</track2>
      </maps>
    </music>
    <sfx volume="100">
      <folder>audio/fx/</folder>
      <player>
        <run>run.wav</run>
        <jump>jump.wav</jump>
        <slide>slide.wav</slide>
        <hurt>hurt.wav</hurt>
      </player>
    </sfx>
  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <cameraSpeed x="300" y="300"/>
    <map name="level1.tmx" active="1">
      <playerStartPos x="608" y="250"/> <!-- y was 464 -->
      <playerStartSpeed x="0" y="0"/>
    </map>
    <fadeTime value="1"/>
    <spawns>
      <enemies>
        <bat type="0" x="300" y="300"/>
      </enemies>
    </spawns>
  </scene>
  
  <scene2>
    <cameraSpeed x="300" y="300"/>
    <map name="level2.tmx" active="0">
      <playerStartPos x="720" y="-400"/> <!-- y was 160-->
      <playerStartSpeed x="0" y="0"/>
    </map>
    <fadeTime value="1"/>
    <spawns>
      <enemies>
        <bat type="0" x="300" y="300"/>
      </enemies>
    </spawns>
  </scene2>
  
  <entityManager>
    <logic cooldown="5" />
    <entities>
      <player>
        <folder>textures/</folder>
        <sprites>
          <spriteSheet>character_sprite_sheet.png</spriteSheet>
          <spriteSize x="50" y="37"/>
          <first_sprite>
            <idle column="0" row="0" frames="4" animSpeed ="8" loop="true">
              <offset x="14" y="6" w="22" h="31"/>
            </idle>
            <run column="0" row="4" frames="6" animSpeed ="8" loop="true">
              <offset x="14" y="6" w="22" h="31"/>
            </run>
            <slide column="0" row="5" frames="5" animSpeed ="8" loop="false">
              <offset x="11" y="20" w="27" h="17"/>
            </slide>
            <crouch column="0" row="6" frames="4" animSpeed ="8" loop="true">
              <offset x="14" y="14" w="22" h="23"/>
            </crouch>
            <jump column="0" row="7" frames="4" animSpeed ="16" loop="false">
              <offset x="14" y="6" w="22" h="31"/>
            </jump>
            <somersault column="0" row="8" frames="4" animSpeed ="8" loop="true">
              <offset x="14" y="8" w="22" h="23"/>
            </somersault>
            <fall column="4" row="7" frames="2" animSpeed ="8" loop="true">
              <offset x="14" y="6" w="22" h="31"/>
            </fall>
            <hurt column="0" row="22" frames="3" animSpeed ="8" loop="true">
              <offset x="14" y="6" w="22" h="31"/>
            </hurt>
            <dead column="0" row="23" frames="7" animSpeed ="8" loop="false">
              <offset x="14" y="6" w="22" h="31"/>
            </dead>
            <attack_1 column="0" row="9" frames="6" animSpeed ="14" loop="false">
              <offset x="14" y="6" w="22" h="31"/>
              <attackRightOffset x="22" y="1" w="27" h="32"/>
              <attackLeftOffset x="1" y="1" w="27" h="32"/>
              <attackFrames start="1" finish="3"/>
            </attack_1>
          </first_sprite>
        </sprites>
        <audio>
          <runSfxDelay miliseconds="350"/>
          <slideSfx played="false" />
          <hurtSfx played="false" />
        </audio>
        <stats>
          <life value="3"/>
          <maxSpeed x="150" y="240"/>
          <hurtSpeed x="110" y="110"/>
          <accelerations x="700" y="220" gravity="560" slide="200"/>
          <airborne value="false"/>
          <looking right="true"/>
          <somersault used="false"/>
          <attackDelay miliseconds="500"/>
          <deathDelay miliseconds="1000"/>
          <fadeDelay seconds="1"/>
          <debugMode value="true" />
          <godMode value="false"/>
          <freeCamera value="false"/>
          <processingRadius x="500" y="400"/>
        </stats>
      </player>

      <!-- Enemies -->
      <bat>
        <folder>textures/</folder>
        <sprites>
          <spriteSheet>bat_sprite_sheet.png</spriteSheet>
          <spriteSize x="16" y="24"/>
          <first_sprite>
            <follow column="0" row="0" frames="5" animSpeed ="16" loop="true">
              <offset x="0" y="3" w="16" h="11"/>
            </follow>
            <idle column="0" row="1" frames="5" animSpeed ="8" loop="true">
              <offset x="0" y="3" w="16" h="11"/>
            </idle>
            <falling column="0" row="2" frames="4" animSpeed ="8" loop="false">
              <offset x="0" y="3" w="16" h="11"/>
            </falling>
            <dead column="4" row="2" frames="1" animSpeed ="8" loop="false">
              <offset x="0" y="3" w="16" h="11"/>
            </dead>
          </first_sprite>
        </sprites>
        <audio>
          <!-- <runSfxDelay miliseconds="350"/> -->
        </audio>
        <stats>
          <life value="1"/>
          <maxSpeed x="100" y="100"/>
          <hurtSpeed x="330" y="330"/>
          <accelerations x="230" y="230" gravity="560"/>
          <canFly value="true"/>
          <attack x="150" y="150" />
          <detection x="150" y="150"/>
          <airborne value="true"/>
          <looking right="false"/>
          <attackDelay miliseconds="500"/>
          <hurtDelay miliseconds="500"/>
          <deathDelay miliseconds="2000"/>
        </stats>
      </bat>
      <slime>
        <folder>textures/</folder>
        <sprites>
          <spriteSheet>slime_sprite_sheet.png</spriteSheet>
          <spriteSize x="32" y="24"/>
          <first_sprite>
            <idle column="0" row="0" frames="4" animSpeed ="8" loop="true">
              <offset x="2" y="10" w="28" h="14"/>
            </idle>
            <move column="0" row="1" frames="4" animSpeed ="8" loop="true">
              <offset x="2" y="10" w="28" h="14"/>
            </move>
            <attack column="0" row="2" frames="5" animSpeed ="7" loop="false">
              <offset x="2" y="4" w="28" h="20"/>
            </attack>
            <hurt column="0" row="3" frames="4" animSpeed ="8" loop="true">
              <offset x="2" y="10" w="28" h="14"/>
            </hurt>
            <dead column="0" row="4" frames="4" animSpeed ="8" loop="false">
              <offset x="2" y="10" w="28" h="14"/>
            </dead>
          </first_sprite>
        </sprites>
        <audio>
          <!-- <runSfxDelay miliseconds="350"/> -->
        </audio>
        <stats>
          <life value="3"/>
          <maxSpeed x="50" y="240"/>
          <hurtSpeed x="500" y="0"/>
          <accelerations x="150" y="0" gravity="560"/>
          <canFly value="false"/>
          <attack x="40" y="25" />
          <detection x="150" y="150"/>
          <airborne value="false"/>
          <looking right="false"/>
          <attackDelay miliseconds="1000"/>
          <hurtDelay miliseconds="500"/>
          <deathDelay miliseconds="2000"/>
          <dash speed="100" />
        </stats>
      </slime>
      <spawnPoints>
        <bat type="0" xSpawn="932" ySpawn="345" />
        <bat type="0" xSpawn="1082" ySpawn="275" />
        <bat type="0" xSpawn="2791" ySpawn="258" />
        <bat type="0" xSpawn="4060" ySpawn="244" />
        <slime type="1" xSpawn="1371" ySpawn="305" />
        <slime type="1" xSpawn="1886" ySpawn="278" />
        <slime type="1" xSpawn="4189" ySpawn="332" />
        <end/>
      </spawnPoints>
    </entities>
  </entityManager>  
</config>