<!-- Config file for the game -->

<config>
  <app mustCap="true" fpsCap="30">
    <name>Get Hooked v0.1</name>
    <organization>UPC</organization>
    <save>save_game.xml</save>
    <load>save_game.xml</load>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <collision>
    <mustDebugDraw value="false" />
    <matrix>
      <wall wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" end="false" hazard="false"/>
      <platform wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" end="false" hazard="false"/>
      <falling_platform wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="true" enemy_attack="false" end="false" hazard="false"/>
      <player wall="true" platform="true" falling_plaftorm="true" player="false" player_attack="false" enemy="true" enemy_attack="true" end="true" hazard="true"/>
      <player_attack wall="false" platform="false" falling_plaftorm="false" player="false" player_attack="false" enemy="true" enemy_attack="false" end="false" hazard="false"/>
      <enemy wall="true" platform="true" falling_plaftorm="true" player="true" player_attack="true" enemy="false" enemy_attack="false" end="false" hazard="true"/>
      <enemy_attack wall="false" platform="false" falling_plaftorm="false" player="true" player_attack="false" enemy="false" enemy_attack="false" end="false" hazard="false"/>
    </matrix>
  </collision>
  
  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio volume="100">
    <music volume="80">
      <folder>audio/music/</folder>
      <maps>
        <track1>Mystic_Force.ogg</track1>
        <track2>Spellbound.ogg</track2>
      </maps>
    </music>
    <sfx volume="100">
      <folder>audio/fx/</folder>
      <player>
        <run>run.wav</run>
        <jump>jump.wav</jump>
        <slide>slide.wav</slide>
        <hurt>hurt.wav</hurt>
      </player>
    </sfx>
  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

  <entities>
    <logic cooldown="5" />
  </entities>

  <scene>
    <cameraSpeed x="300" y="300"/>
    <map name="level1.tmx" active="1">
      <playerStartPos x="128" y="464"/>
      <playerStartSpeed x="0" y="0"/>
    </map>
    <fadeTime value="1"/>
  </scene>  

  <scene2>
    <cameraSpeed x="5" y="5"/>
    <map name="level2.tmx" active="0">
      <playerStartPos x="224" y="160"/>
      <playerStartSpeed x="0" y="0"/>
    </map>
    <fadeTime value="1"/>
  </scene2>

</config>